{% extends "layout.html" %}
{% block body %}

<html>
  <head>
  <script type="text/javascript" src="http://kozea.github.com/pygal.js/javascripts/svg.jquery.js"></script>
  <script type="text/javascript" src="http://kozea.github.com/pygal.js/javascripts/pygal-tooltips.js"></script>
    <!-- ... -->
  </head>
  
  <body>
    <figure>

      <table id="t01">
        <tr> 
          <td>
            <div id="div6"> {{chart|safe}} </div>
          </td>
          <td>
            <div id="div6"> {{chart|safe}} </div>
          </td>
        </tr>    
      </table>

    </figure>
    <div class="image"> Teste </div>

  </body>
</html>

{% endblock %}

